@import './../../../../../assets/styles/variable-module.scss';

.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $the-color-font;
  color: $pri-color-font;
  width: 130px;
  height: 40px;
  font-size: 0.938rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  cursor: pointer;
}

.btn-default:hover {
  border: 1px solid $pri-color-font;
}

.backgroundFull {
  color:  $the-color-font;
  background: $pri-color-font;
}

.backgroundFull:hover {
  color: $pri-color-font;
  background:  $the-color-font;
  border: 1px solid  $the-color-font;
  text-decoration: none;
}

.space-btn {
  margin-right: 15px !important;
}

.btn-send-submit {
  margin: auto;
}

.btn-back {
  width: 85px;
}
