@import './../../../../../assets/styles/variable-module.scss';

.title-sign {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $title-color-font;
}

form {
  margin: 20px 0;
}

.to-login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $pri-color-font;
}
