<a class="title-sign">Crie sua conta e encontre seu conto!</a>
<form [formGroup]="signForm">
  <mat-form-field appearance="outline" class="ui-g-12">
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="inputName" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="ui-g-6">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="inputEmail" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="ui-g-6">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="inputPassword" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <a class="to-login" (click)="redirect_auth()" >Já tem conta? Faça login</a>
  <app-button-background
    editStyle="backgroundFull"
    content="Cadastrar"
    (click)="cadastrar()">
  </app-button-background>
</form>
