<div class="background-screen">
  <mat-card class="card-style">
    <div class="position-style">
      <img class="style-gif" src="./assets/img/logo.png" />
      <p class="sytle-welcome">Seja bem vindo ao <span class="love-computer">Contos dos </span><span class="love-computer2">Aventureiros</span></p>
      <p class="description-welcome">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
    </div>
    <div class="position-btn">
      <app-button-background
        content="Sou membro"
        (click)="openLogin()">
      </app-button-background>
      <app-button-background
        editStyle="backgroundFull"
        content="Me tornar um aventureiro"
        (click)="openSign()">
      </app-button-background>
    </div>
  </mat-card>
</div>
<svg class="edit-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <defs>
    <radialGradient id="myRadialGradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
      <stop offset="0%" style="stop-color: #954e20ff" />
      <stop offset="100%" style="stop-color: #882f34ff" />
    </radialGradient>
  </defs>
  <path fill="url(#myRadialGradient)" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,197.3C384,192,480,160,576,133.3C672,107,768,85,864,96C960,107,1056,149,1152,149.3C1248,149,1344,107,1392,85.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>

