$main-color-btn: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$main-color-font: rgba(0, 0, 0, 0.8);
$pri-color-font: #954e20ff;
$sec-color-font: #882f34ff;
$the-color-font: #ffffff;
$for-color-font: #898989;
$icon-color: #c0c0c0;
$dark-color: #000;
$hover-btn: rgba(196, 196, 196, 0.5);
$bg-icon: #E5E5E5;
$btn-action-edit: #457b9d;
$btn-action-delet: #e63946;

$border-radius: 6px;
