$main-color-btn: linear-gradient(90deg, rgba(74,17,20,1) 0%, rgba(115,15,15,1) 50%, rgba(145,88,8,1) 100%);
$main-color-font: rgba(0, 0, 0, 0.8);
$pri-color-font: #954e20ff;
$sec-color-font: #882f34ff;
$title-color-font: #001E2D;
$the-color-font: #ffffff;
$for-color-font: #898989;
$icon-color: #c0c0c0;
$dark-color: #000;
$hover-btn: rgba(196, 196, 196, 0.5);
$bg-icon: #E5E5E5;
$btn-action-edit: #457b9d;
$btn-action-delet: #e63946;

$border-radius: 6px;
